# This file is where you specify your high-level dependencies.
# For example you might add a line that looks like this:
#
# pytz>2016.3
memory-profiler
numpy
requests
python-dateutil
scipy
seaborn
backoff
click
mock
pydump

# tensorflow related
tensorflow
# tf-models-official
# tf-models-nightly
# tf-nightly

tensorflow-text
tensorflow-text-nightly
# tensorflow optional
tensorflow-datasets
tensorflow-recommenders

# pytorch related (run makefile first)
torch
# torchvision
# torchaudio
# torchrec-nightly

h5py
keras
seaborn
scikit-learn

# dependency
grpcio

# notebook
jupyter

# test
pytest
pytest-custom-exit-code
pytest-cov

# flake8
flake8

# finance
yfinance
tabulate
matplotlib

# llm
airllm
# mlx
absl-py