# This file is where you specify your high-level dependencies.
# For example you might add a line that looks like this:
#
# pytz>2016.3
# pip-compile requirements.in
memory-profiler
numpy<2.0.0
pandas<2.0.0
requests
python-dateutil
scipy
seaborn
backoff
click
mock
pydump

# tensorflow related
tensorflow>=2.10.0
# tf-models-official
# tf-models-nightly
tf-nightly
tensorflow-keras
tensorflow-text
# tensorflow-text-nightly
# tensorflow optional
tensorflow-datasets
tensorflow-recommenders

# pytorch related (run makefile first)
torch>=2.0.0
torchvision
torchaudio
torchrec
# torchrec-nightly

h5py
keras>=2.13.1rc0
seaborn
scikit-learn

# notebook
jupyter
ipykernel
mkdocs

# test
pytest
pytest-custom-exit-code
pytest-cov

# flake8
flake8

# finance
yfinance
tabulate
matplotlib

# llm
# faiss-gpu
faiss-cpu
openai
openai-agents
streamlit
huggingface-hub
charset-normalizer
transformers
datasets
tiktoken
wandb
tqdm
airllm
# mlx
absl-py
# mcp

# cv
opencv-python
face_recognition
dlib
deepface

# other
bilibili-api

# YouTube search functionality
google-api-python-client
python-dotenv